* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: #c1c1d7;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
button {
    padding-left: 5px;
    padding-right: 5px;
}
.i {
    border: 1px solid red;
}

.question {
    position: relative;
    display: inline-block;
    
}
    .question .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgba(0, 102, 255, 0.7);
        color: #fff;
        font-size: 10px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        padding-left: 3px;
        padding-right: 3px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }
    .question:hover .tooltiptext {
        visibility: visible;
    }

.greyText {
    color: grey;
    font-size: 12px;
}
.errorMessage {
    font-size: 12px;
    color: #e60000;
    margin-left: 10px;
}
.headerTitle {
    font-size: 16px;
    font-weight: 600;
}
.step {
    width: 1000px;
    border: 1px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#step_1 {
    height: 390px;
}
#step_2 {
    height: 380px;
}
#step_3 {
    height: 260px;
}
#step_4 {
    height: 100px;
}
.step_container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.num_container {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.num {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#num_1 {
    background-image: url(img/one.svg);
}
#num_2 {
    background-image: url(img/two.svg);
}
#num_3 {
    background-image: url(img/three.svg);
}
#num_4 {
    background-image: url(img/four.svg);
}
.panel_container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.graphic {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}
#panelImg {
    width: 250px;
    height: 350px;
    background-image: url(img/default-img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.panel {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}
.instruction {
    margin-top: 10px;
    margin-bottom: 5px;
}
label {
    margin-top: 10px;
}
.form_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.question {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(img/question.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}
.refresh {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(img/refresh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}
.IDN {
    cursor: pointer;
    margin-left: 10px;
}

/*Форма-1______________________________________________*/
#primer {
    cursor: pointer;
}
#urlButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
#urlButton {
    margin-top: 5px;
}
#priceBlock {
}
#currencyField {
    margin-left: 10px;
}

/*Форма-2______________________________________________*/
#mapid {
    width: 250px;
    height: 300px;
}
#latField {
    margin-right: 10px;
}
#mapidControl {
    width: 250px;
    height: 40px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.checkBox {
    margin-left: 10px;
}
.checkBoxLabel {
    margin-left: 2px;
    margin-top: 0;
    font-size: 12px;
}
#heightHorizonBlock {
    margin-top: 10px;
}
#heightHorizon {
    margin-left: 0px;
}

/*Форма-3______________________________________________*/
#inverterPhoto {
    width: 250px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#inverterDescription {
    width: 250px;
    height: 50px;
    font-size: 12px;
    margin-top: 5px;
}

/*Форма-4______________________________________________*/
#calcBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
#calcBlock button {
    margin-top: 10px;
    margin-right: 10px;
}
#resultError {
    margin-top: 10px;
    margin-left: 0;
}

/*Results_______________________________________________*/
#results {
    display: none;
}
.chart {
    margin: 10px;
    border: 1px solid blue;
    width: 500px;
    height: 250px;
}
.dataTable {
    margin: 10px;
    border: 1px solid blue;
    width: 300px;
    height: 250px;
}
.dataTable table {
    width: 100%;
    height: 100%;
    font-size: 12px;
}
table, th, td {
    border: 1px solid grey;
}
tr td:nth-child(1), tr th:nth-child(1) {
    width: 70%;
}
.dataSet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
#result_container {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#calcBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#finalResults {
    width: 820px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-left: 50px;
}
#finalResults p {
    margin-bottom: 5px;
}
.finalResults_item {
    font-weight: 600;
}









/*
1024px
768px
< 576px
*/
